# Локальные плагины
.terraform/

# Файлы состояния (они у нас теперь в Azure, но локальные копии нам не нужны)
*.tfstate
*.tfstate.*

# Переменные с паролями (если будешь их создавать)
*.tfvars
*.tfvars.json

# Логи и временные файлы
crash.log
*.usage.tfplan
